@media screen and (min-width: 1440px) {
	.w-dropdown.w--current{
		color: var(--hover-menu-accent);
		border-bottom: 4px solid var(--hover-menu-accent);
		margin-bottom: -1px;
		padding-top: 3px;
	}
}